<div ng-controller="loginController">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>{{message}}</h2>
      <h1><span class="fa fa-sign-in"></span>Admin Login</h1>
      <!-- LOGIN FORM -->
      <form>
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" ng-model="login.username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" ng-model="login.password">
        </div>

        <button ng-click="loginCheck(login)" class="btn btn-warning btn-lg">Login</button>
        <input type="reset" name="reset" value="CLEAR" class="btn btn-default btn-lg" />
        <input type="checkbox" checked="checked" name="remember-me"> Remember me
      </form>

      <hr>
    </div>
  </div>
</div>
