
<div ng-controller="mailController" id="wrapper"  >
  <div ng-include="'partials/navigation_Chief.html'"></div>
  <!--<link href="/css/fresh-bootstrap-table.css" rel="stylesheet" /> -->
  <br>
  <br>
  <div class="container">
    <form class="well WOW bounceIn" >
     <div class="content-container clearfix "> <!-- WOW bounceIn-->
         <h1 class="content-title">Drug Request Mail Sender</h1>
         <div class="col-md-12">
             <div class="form-group">
               <label for="sel1">Select Mail to Send:</label>
               <select class="form-control"  ng-model="mail.from">
                 <option value="gunawardhanasarasa@gmail.com"> Pharmacy Info Email</option>
               </select>
             </div>

             <div class="form-group">
                <label for="sel1">Select Supplier's Mail:</label>
                <select class="form-control"  ng-model="mail.to">
                  <option ng-repeat="supplier in suppliers" value="{{supplier._id}}"> {{supplier.email}} </option>
                </select>
             </div>

             <div class="form-group">
                <label for="sel1">Subject :</label>
                <select class="form-control"  ng-model="mail.subject">
                  <option ng-repeat="drug in drugs" value="{{drug._id}}" ng-model="drug"> {{drug.dname}} </option>
                </select>
             </div>

             <textarea class="form-control" placeholder="message" ng-model="mail.text" style="height:200px;" ng-model="drug">
               {{drug.dname}}
             </textarea>
             <hr>
             <div class="btn-send">
             <button class="btn btn-success btn-lg" ng-click="sendMail(mail)"><span class="fa fa-fw fa-send"></span> Send</button>
             </div>
             <hr>
         </div>
     </div>
   </form>
 </div>

 <div class="container" >

   <div class=" well table-responsive" >
     <div style="width:40%;padding-bottom:30px;">
       <div class="input-group">
         <span class="input-group-addon"><span class="fa fa-search" ></span></span>
         <input type="text" id="drugSearch" placeholder="Search by Drug Name" class="form-control" data-ng-model="search.drug.dname" />
         <!-- onkeyup="filterView('fname','supplierSearch')" -->
       </div>

     </div>
   <!-- <button type="button" name="button" ng-click="pdf()" id="create_pdf">PDF</button> -->
     <table  class="display table" width="100%" >
       <thead>
         <tr>
           <th>Supplier Name</th>
           <th>Date</th>
           <th>Drug Name</th>
           <th>Drug Category</th>
           <th>Drug Type</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat = " mail in mails | orderBy:'Date' | orderBy:'l' | filter:search" class="success">
           <td>{{mail.supplier.fname}} {{mail.supplier.lname}}</td>
           <td>{{mail.date}}</td>
           <td>{{mail.drug.dname}}</td>
           <td>{{mail.drug.dcat}}</td>
           <td>{{mail.drug.dtype}}</td>
         </tr>
       </tbody>
     </table>

   </div>
 </div>


</div>


 </div>
