<div class="collapse navbar-collapse navbar-ex1-collapse">
<ul class="nav navbar-nav side-nav">
  <li class="active">
      <a ng-click="home()"><i class="fa fa-fw fa-dashboard"></i> Home</a>
  </li>
  <li class="active">
      <a href="#!/requestDetails"><i class="fa fa-fw fa-dashboard"></i>Request Details</a>
  </li>
  <li class="active">
      <a href="#!/viewDispense"><i class="fa fa-fw fa-dashboard"></i> View Dispenses</a>
  </li>
<!--  <li>
      <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Supplier <i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="demo" class="collapse">
          <li>
              <a ng-click="getSupplier()" >Add Supplier</a>
          </li>
          <li>
              <a ng-click="viewSupplier()" >Add Supplier</a>
          </li>
      </ul>
  </li>
-->

</ul>
</div>
