<div class="collapse navbar-collapse navbar-ex1-collapse ">
<ul class="nav navbar-nav side-nav">
  <li class="active">
      <a href="#!/home_chief"><i class="fa fa-fw fa-dashboard"></i> Home</a>
  </li>

  <li class="active">
      <a href="#!/prescriptionDetails"><i class="fa fa-fw fa-dashboard"></i>Prescription Details</a>
  </li>
  <li class="active">
      <a href="#!/viewPrescription"><i class="fa fa-fw fa-dashboard"></i>View Prescription</a>
  </li>

  <li class="active">
      <a href="#!/drugDetails"><i class="fa fa-fw fa-dashboard"></i>Drugs Details </a>
  </li>

  <li class="active">
      <a href="#!/viewDrug"><i class="fa fa-fw fa-dashboard"></i>Drug Informations</a>
  </li>
  <li class="active">
    <a href="#!/stock"><i class="fa fa-fw fa-dashboard"></i>Stock Details</a>
  </li>
  <li class="active">
      <a href="#!/viewrequest"><i class="fa fa-fw fa-dashboard"></i> View Request</a>
  </li>
  <li class="active">
      <a ng-href="#!/supplier/{{user_id}}"><i class="fa fa-fw fa-dashboard"></i> Supplier</a>
  </li>
  <li class="active">
      <a ng-href="#!/mailer"><i class="fa fa-fw fa-dashboard"></i> Mailer</a>
  </li>
<!--  <li>
       <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Handle Supplier<i class="fa fa-fw fa-caret-down"></i></a>
       <ul id="demo" class="collapse">
           <li>
               <a  ng-click="getsupplier()">Supplier</a>
           </li>
       </ul>
   </li>-->
  <li class="active">
      <a href="/functionone/homefunone"><i class="fa fa-fw fa-dashboard"></i> Reports</a>
  </li>
</ul>
</div>
<!--
<li>
     <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Supplier <i class="fa fa-fw fa-caret-down"></i></a>
     <ul id="demo" class="collapse">
         <li>
             <a ng-click="getSupplier()" >Add Supplier</a>
         </li>
         <li>
             <a ng-click="viewSupplier()" >Add Supplier</a>
         </li>
     </ul>
 </li>
-->
